.Entries {
  display: grid;
  /* grid-template-columns: 20% 20% 20% auto; */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  grid-gap: 0px;
  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-auto-flow: row dense; */
}

/* .Entries div:nth-child(4n+1) {
  grid-column-end: span 2;
  grid-row-end: span 2;
  background-color: #000000;
} */

.Entry{
  /* object-fit: c */
  border-width: 0;
}

.EntryImg
{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.EntryImgSmall
{
  width: 80%;
  height: 80%;
  object-fit: cover;
  align-self: center;
}

.EntryTitle
{
  font-size: small;
}

.EntriesBackground
{
  /* background-color: #000000; */
  background-color: white;
}